@{
    ViewBag.Title = "Category Selection";
    Layout = "~/Views/Shared/_LayoutPagewithoutheader.cshtml";
}

<h2>Select Category and Location</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Select Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Category_selection", null, htmlAttributes: new { @class = "form-control", @id = "Category_selection" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Select Locality", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Location_selection", null, htmlAttributes: new { @class = "form-control" ,@id = "Location_selection" })
            </div>
        </div>
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}


