@model TheSkyMartSite.Models.Item_master

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Item_master", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Item_master</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Item_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item_Brand, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item_Brand, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Brand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item_Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item_Division, "Item_Division", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Item_Division", ViewBag.Division_ID as SelectList, "-- Please Select a Division  --", new { style = "width:250px" })
                @Html.ValidationMessageFor(model => model.Item_Division, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item_Group, "Item_Group", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Item_Group", new SelectList(string.Empty, "Value", "Text"), "-- Please select a Group --", new { style = "width:250px" })
                @Html.ValidationMessageFor(model => model.Item_Group, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item_Sub_Group, "Item_Sub_Group", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Item_Sub_Group", new SelectList(string.Empty, "Value", "Text"), "-- Please select a SubGroup --", new { style = "width:250px" })
                @Html.ValidationMessageFor(model => model.Item_Sub_Group, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label( "Select Supplier", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Supplier_ID", null, htmlAttributes: new { @class = "form-control" })
           </div>
        </div>

        <div class="form-group">
            @Html.Label("Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Item_price" id="Item_price" class="form-control" style="width: 100%; " />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Main Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 <input type="file" name="Item_main_image" id="Item_main_image" class="form-control" style="width: 100%; " />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Image 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Image_1" id="Image_1" class="form-control" style="width: 100%; " />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Image 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Image_2" id="Image_2" class="form-control" style="width: 100%; " />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Image 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Image_3" id="Image_3" class="form-control" style="width: 100%; " />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Image 4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Image_4" id="Image_4" class="form-control" style="width: 100%; " />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Image 5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Image_5" id="Image_5" class="form-control" style="width: 100%; " />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>




}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#Item_Division").change(function () {
            $("#Item_Group").empty();
            $("#Item_Sub_Group").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetGroups")', // Calling json method
                dataType: 'json',
                data: { id: $("#Item_Division").val() },
                // Get Selected Division ID.
                success: function (groups) {
                    $("#Item_Group").append('<option value="-1">-- Please select a Group --</option>');
                    $.each(groups, function (i, group) {
                        $("#Item_Group").append('<option value="' + group.Value + '">' +
                             group.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Group.' + ex);
                }
            });
            return false;
        })

        $("#Item_Group").change(function () {
            $("#Item_Sub_Group").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSubGroups")', // Calling json method
                dataType: 'json',
                data: { id: $("#Item_Group").val() },
                // Get Selected Division ID.
                success: function (subgroups) {
                    $("#Item_Sub_Group").append('<option value="-1">-- Please select a SubGroup --</option>');
                    $.each(subgroups, function (i, subgroup) {
                        $("#Item_Sub_Group").append('<option value="' + subgroup.Value + '">' +
                             subgroup.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Group.' + ex);
                }
            });
            return false;
        })
    });
</script>
